/* src/styles/Cart.module.css */

.emptyCartMessage {
  text-align: center;
  padding: 50px 0;
  font-size: 1.2em;
  color: var(--text-dark);
}

.emptyCartMessage p {
  margin-bottom: 30px;
}

.cartContent {
  background-color: var(--bg-light);
  border-radius: 10px;
  box-shadow: 0 4px 20px var(--shadow-light);
  padding: 30px;
  margin-top: 40px;
}

.cartList {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.cartSummary {
  text-align: right;
  border-top: 1px solid var(--secondary-cream);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Sağ tarafa yasla */
}

.cartTotal {
  font-size: 1.8em;
  color: var(--primary-coffee);
  margin-bottom: 20px;
  font-weight: 700;
}

/* Duyarlı tasarım */
@media (max-width: 768px) {
  .cartContent {
    padding: 20px;
  }
  .cartTotal {
    font-size: 1.5em;
  }
}