/* src/styles/Products.module.css */
.mainContent {
  padding: 2rem;
}

.productList {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Masaüstü ve tablet */
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .productList {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Tabletlerde 200px min genişlik */
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .productList {
    grid-template-columns: 1fr; /* Mobil cihazlarda tek sütun */
    gap: 1rem;
  }
}