/* src/components/CartItemCard.module.css */

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.itemImage {
  width: 80px; /* Sepet içindeki resmin genişliğini sabitleyin */
  height: 80px; /* Sepet içindeki resmin yüksekliğini sabitleyin */
  object-fit: cover; /* Resmin belirlenen alana sığarken oranını korumasını sağlar */
  border-radius: 4px;
  margin-right: 15px;
}

.itemDetails {
  flex-grow: 1; /* Detayların boşluğu doldurmasını sağlar */
  display: flex;
  flex-direction: column;
}

.itemName {
  font-weight: bold;
  margin-bottom: 5px;
}

.itemPrice {
  color: #666;
  font-size: 0.9em;
}

.quantityControl {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.quantityBtn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
}

.itemQuantity {
  margin: 0 10px;
  font-weight: bold;
}

.itemTotal {
  font-weight: bold;
  margin-left: 15px;
  min-width: 60px; /* Toplam fiyatın yerini garantiye alır */
  text-align: right;
}

.removeBtn {
  background-color: #dc3545; /* Kırmızı renk */
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
}

.removeBtn:hover {
  background-color: #c82333;
}